.cardContainer{
    width: 200px;
    height: 200px;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
    margin: 40px;
}

.navRight{
    font-size: 2rem;
}

.navbar-laravel{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 5;
}

.collapseButton{
    font-size: 2rem;
    /*border-right: 1px solid #959595;*/
}

.container{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.searchBar{
    width: 250px;
    border-radius: .5rem;
}

.skillsB, .educationB , .benefitsB, .socialMediaB{
    display: none;
}

.benefitsB{
    border-radius: .3rem;
    border: 1px solid lightgrey;
}


/*SIDEBAR RIGHT*/

.clock{
    padding: 2rem 0 2rem 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #959595;
}

.date{
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid #959595;
}

#dateMonth{
    font-size: 1.2rem;
}

#dateDay{
    font-size: 3rem;
}

.question{
    padding: 2rem 0 0 0;
}

.collapseBurger{
    color: #439DBB
}

.questionBox{
    width: 80%;

    padding: 10px 10px 0 10px;
    margin: auto;
    border-radius: .3rem;
    border: 1px solid grey;
}

.questionText{
    margin-bottom: 20px;
}

/*SIDEBAR LEFT*/

.listContainer{

    border-bottom: 1px solid #989595;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.listContainer .d-inline-block{
    display: block !important;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
    /*border-right: 1px solid #959595;*/
    -webkit-box-shadow: 2px 0 4px rgba(0,0,0,.04);
    box-shadow: 2px 0 4px rgba(0,0,0,.04);
}
#sidebar .list-group {
    min-width: 250px;
    background-color: #fff;                                                                /* color bottom of menu */
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
    border-right: #959595 solid;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #fff;                                                                /* actual menu */
    color: #959595;                                                                     /* FONT */
    border-left: 0;
    border-right: 0;
    border-color: #fff;                                                          /* divider lines */
    white-space: nowrap;
    padding-bottom: .3rem;
    padding-top: .3rem;
    padding-left: 3rem;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;                                                      /* COLLAPSED SUBITEMSSSS CLICKED */
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;                                                             /* COLLAPSED SUBITEM CLICKED */
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }

    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }

    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
    visibility: visible;
}
.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}