.bpcontainer{
    margin: 20px;
    padding: 10px 10px 60px 10px;
    border-radius: .3rem;
    border: 1px solid grey;
    position: relative;

}

.editHeader{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}



.businessImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;              /* optional, center the image */
    min-height:350px;
    position: relative;
    margin-bottom: 90px;
}

.businessLogo{
    position: absolute;
    left: 80px;
    bottom: -80px;
    border: 5px solid white;
    width: 200px;
    height: 200px;
    background: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.editLogo{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    heigth: 20px;
}